@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: #000;
  color: #fff;
}

.form-control::placeholder {
  color: #777;
}

.form-control:focus {
  border-color: #444; /* Couleur de la bordure lorsqu'il est en focus */
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

.background-link {
  padding: 2rem 2.5rem;
  padding-bottom: 1rem;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  border: 2px solid rgb(110, 110, 110); /* Bordure avec une transparence pour rester sombre */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.toast {
  border-radius: 0.8rem;
}

.toast-header {
  border-radius: 1rem 1rem 0 0;
  background: rgba(0, 0, 0, 0.8);
}

.toast-body {
  background-color: #333;
  border-radius: 0 0 0.4rem 0.4rem;
}

.highlighted {
  background-color: #2b722b;
}

.border-grey {
  border-color: rgb(110, 110, 110) !important;
}